<div class="panel panel-default">

  <div class="panel-heading"> 
  	<%= comment.name %> 
  </div>
  
  	<div class="panel-body"> 
  		
  		<% if user_signed_in? %>
  			<%= comment.body %> 
  		<p> 
  			<%= link_to 'delete', [comment.post, comment], method: :delete, data: 
			{confirm: 'Are you sure you want to delete the comment?'} %> 
		</p>

		<% else %>

		<%= comment.body %> 

		<% end %>
	</div>



</div> 

<!--div class='comment'>

<p>
<strong>Comment name:</strong> <br>
<%= comment.name %>
</p>

<p>
<strong>Comment body:</strong> <br>
	<%= comment.body %>
</p>

<p>
	<%= link_to 'delete', [comment.post, comment], method: :delete, data: {confirm: 'Are you sure you want to delete the comment?'} %>
</p>

</div-->