<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @article.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @article.content %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>

<h2>Leave a comment:</h2>

<%= form_for [@post, @post.comments.build] do |f| %>
	<% f.label :name %> <br>
	<% f.label_field :name %> <br>

	<% f.label :body %> <br>
	<% f.label_field :body %> <br>

	<% f.submit %>
<% end %>