<header class="intro-header header2">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1> <%= @post.title %> 
                        </h1>
                        <h2 class="subheading"><%= link_to 'edit', edit_post_path(@post) %> | <%= link_to 'delete', post_path(@post), method: :delete, data: {confirm: 'Are you sure you want to delete this post?'} %></h2>
                        <span class="meta">Posted by <a href="https://twitter.com/vs3kulic" target="_blank">vs3kulic</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>

<article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <p>
                    	<%= @post.body %>
                    </p>

                </div>    
            </div>
        </div>
</article>

<footer>

    <h2>Comments</h2>
    <%= render @post.comments.order('created_at DESC').all %>
    <!--%= render @post.comments.order('created_at DESC') %-->

    <h2>Leave a comment:</h2>

        <%= form_for [@post, @post.comments.build] do |f| %>
            
            <%= f.label :name %>
            <%= f.text_field :name %> <br><br>

            <%= f.label :body %>
            <%= f.text_area :body %> <br><br>

            <%= f.submit %>
        <% end %>

</footer> 
