<header class="intro-header header2">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">

                        <% if user_signed_in? %>

                        <h1> <%= @post.title %> 
                        </h1>

                        <h2 class="subheading">
                            <%= link_to 'edit', edit_post_path(@post) %> | 
                            <%= link_to 'delete', post_path(@post), method: :delete, data: {confirm: 'Are you sure you want to delete this post?'} %>
                        </h2>

                        <% else %>

                        <h1> <%= @post.title %> 
                        </h1>

                        <% end %>

                        <span class="meta">Posted by <a href="https://twitter.com/vs3kulic" target="_blank">vs3kulic</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>

<article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    
                    <div class="large"> <%= @post.body %> 
                    </div> 
                       
                       <% if @post.comments.count > 0 %>
                        <hr>
                        <h4>Comments</h4>
                        <hr>
                       <% end %> 

                        <%= render @post.comments.order('created_at DESC').all %>
                </div>    
            </div>
        </div>
</article>

<div class="lightbg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                <!-- Contact Form - Enter your email address on line 19 of the mail/contact_me.php file to make this form work. -->
                <!-- WARNING: Some web hosts do not allow emails to be sent through forms to common mail hosts like Gmail or Yahoo. It's recommended that you use a private domain email address! -->
                <!-- NOTE: To use the contact form, your site must be on a live web host with PHP! The form will not work locally! -->
                
    <% if user_signed_in? %>
        <h2>Leave a comment:</h2>
    <%else%>
        <h2>Leave a comment:</h2>
        <h4>You just need to <%= link_to('sign up', new_user_registration_path) %> or <%= link_to('log in', new_user_registration_path) %> first<h4>
    <%end%>

                <%= form_for [@post, @post.comments.build] do |f| %>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                             
                             <%= f.label :name %>
                             <%= f.text_field :name, class: "form-control", placeholder: "Name" %>

                            <!--p class="help-block text-danger"></p-->

                        </div>
                    </div>

                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            
                            <%= f.text_area :body, class: "form-control", placeholder: "Body" %>

                            <!--p class="help-block text-danger"></p-->

                        </div>
                    </div>

                    <br>

                    <div id="success"></div>

                    <% if user_signed_in? %>

                    <div class="row">
                        <div class="form-group col-xs-12">

                            <%= f.submit class: "btn btn-default"%>

                        </div>
                    </div>

                    <% end %>

                <% end %>

            </div>
        </div>
    </div>
</div>
